/* Fondo de la web */
.access{ background: url(http://localhost/abjweb/statics/img/fondo/backgroundpixbody.png); }
.menuhome{background: url(http://localhost/abjweb/statics/img/fondo/menuhome.png) repeat-x; }
.msg_dev .cunha{ background: url(http://localhost/abjweb/statics/img/icons/cunha.png) no-repeat; }

/* laterales rasgados */
.rasgadoL{ background: url(http://localhost/abjweb/statics/img/fondo/roto_l.png); }
.rasgadoR{ background: url(http://localhost/abjweb/statics/img/fondo/roto_r.png); }

.lnkfacebook{ background: url(http://localhost/abjweb/statics/img/icons/facebook_metro.png) no-repeat; }
.icn_mas{ background: url(http://localhost/abjweb/statics/img/icons/icn_mas.png) right center no-repeat; }
